autodocsumm  # autodoc and autosummary
docstr-coverage  # docstring coverage test
myst_parser  # include markdown text
nbsphinx  # include jupyter notebook
pandoc  # include jupyter notebook
sphinx
sphinxcontrib-confluencebuilder  # host on confluence
sphinxcontrib-napoleon  # google and numpy docstring style
